# Copyright (c) 2021 Yonatan Schachter
# SPDX-License-Identifier: Apache-2.0

if BOARD_ADAFRUIT_FEATHER_RP2040

config BOARD
	default "adafruit_feather_rp2040"

config RP2_FLASH_W25Q080
	default y

if I2C

config I2C_DW
	default y

if I2C_DW

config I2C_DW_CLOCK_SPEED
	default 100

endif #I2C_DW

endif #I2C

endif # BOARD_ADAFRUIT_FEATHER_RP2040
